.o_owlybook_bottom_bar {
    background-color: var(--owlybook-background-color);
    > ul > li {
        .nav-link.active {
            background-color: #f3f1f1;
            border-bottom-color: lightgrey;
        }
    }
}

.o_owlybook_panel {
    bottom: 0px;
    height: 350px; // TODO: make it dynamic with handle
}

.nav-link.active {
    font-weight: 600;
}

.o_delete:hover {
    color: red;
}

.o_owlybook_panel input {
    background: transparent !important;
}

.o_outline{
    outline: none;
}
