<?xml version="1.0" encoding="UTF-8" ?>

<templates>
    <t t-name="owlybook.events" owl="1">
        <t t-set="uncollapsedObject" t-value="uncollapsed"/>
        <div class="m-3">
            <strong>Events triggered:</strong><br/>
            <ul>
                <t t-foreach="storyEvents" t-as="event" t-key="event_index">
                    <li><ObjectRenderer object="event.params" name="event.name"/></li>
                </t>
            </ul>
        </div>
    </t>
</templates>
